body, html {
    height: 100%;
}

.bgimg {
	background-color: black;
	background-image: url('../img/papertile.jpg');
	border: 80px solid black;
	border-image-source: url('../img/woodsyborderv2.png');
	border-image-width: 200px;
	border-image-slice: 163 236 247 244;
	min-height: calc(100% - 160px);
	width: calc(100% - 160px);
}

